#!/usr/bin/env ruby

compile '/**/*.html' do
  filter :erb
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.to_s
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/articles/**/*.md' do
  if item[:status] == "draft"
    write nil
    next
  end
  filter :note
  filter :hidden
  filter :kramdown, parse_block_html: true
  layout '/article.*'
  layout '/default.*'

  if item.identifier =~ '**/index.*'
    write item.identifier.without_ext + '.html'
  else
    write item.identifier.without_ext + '/index.html'
  end
end

compile '/feed.erb' do
  filter :erb
  write '/feed.xml'
end

passthrough '/**/*'

layout '/**/*', :erb
