---
title: Home
---
<div class="intro">
  <h1>Kristian Lumme</h1>

  <p>This is my personal website.</p>

  <p>You can reach me <a href="mailto:contact@klart.fi">by email</a>, <a href="https://hachyderm.io/@katastrof">on Mastodon</a>, or <a href="https://bsky.app/profile/katastrof.bsky.social">on Bluesky</a>.</p>
</div>

<h2>Writing</h2>

<ul>
  <% published_articles.each do |item| %>
    <li><a href="<%= item.path %>"><%= item[:title] %></a> <span class="published">(published <%= item[:created_at] %>)</span></li>
  <% end %>
</ul>
